@model News

<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <p>
        <b>@Model.Title</b> başlıklı haberi silmek istediğinizden emin misiniz?

    <form asp-action="Delete" asp-controller="News" method="post">
        <input type="hidden" value="@Model.NewsID" name="id">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Hayır</a>
    </form>
    </p>
</div>
